   <div class="container m-5">
        <div class="row mt-3 bg-dark-subtle">
            <div class="col-xs-6">
            <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            
                <div class="row m-2">
                <div class="col-xs-12">
                    <div class="form-group">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        id="name"
                        formControlName="name"
                        class="form-control"/>
                    </div>
                </div>
                </div>
                <div class="row m-2">
                <div class="col-xs-12">
                    <div class="form-group">
                    <label for="imagePath">Image URL</label>
                    <input
                        type="text"
                        id="imagePath"
                        formControlName="imagePath"
                        class="form-control"
                        #imagePath/>
                    </div>
                </div>
                </div>
                <div class="row m-2">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" class="img-responsive"/>
                </div>
                </div>
                <div class="row m-2">
                <div class="col-xs-12">
                    <div class="form-group">
                    <label for="description">Description</label>
                    <textarea
                        type="text"
                        id="description"
                        class="form-control"
                        formControlName="description"
                        rows="2"></textarea>
                    </div>
                </div>
                </div>
                <div class="row m-2">
                    <div class="col-xs-12">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input
                        type="number"
                        id="price"
                        formControlName="price"
                        class="form-control"/>
                    </div>
                    </div>
                </div>
                <div class="row m-2" *ngIf="!editMode">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="finalrating">Finalrating</label>
                        <input
                          type="text"
                          placeholder="Please enter a value between 0 and 5"
                          id="finalrating"
                          class="form-control"
                          formControlName="finalrating"
                          max="5"
                          required/>
                          </div>
                    </div>   
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="ratedUsers">RatedUsers</label>
                        <input
                          type="number"
                          placeholder="Please enter a value between 0 and 2"
                          id="ratedUsers"
                          class="form-control"
                          formControlName="ratedUsers"
                          max="2"
                          required/>
                          </div>
                    </div>        
                </div>
                    <div class="row m-2">
                        <div class="col-xs-12">
                        <button
                            type="submit"
                            class="btn btn-success m-2"
                            [disabled]="!recipeForm.valid">Save</button>
                        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
