/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

*{
    margin:0;
    padding:0;
}
:root{
    --primary-color:#FF4000;
    --secondary-color:#06B32E;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("src/app/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;
    margin-top:65px;
}